// color palette
$white: #fff
$offwhite: #ECEBE9
$green: #D6F487
$light-blue: #CDE4EE
$purple: #D3D7FC
$indigo: #D3D7FC
$dark: #0B0A08
$red: #FF9175
$yellow: #FFF791

$font-family-sans-serif: 'Chakra Petch', 'Open sans', 'Noto sans', Arial, Helvetica, sans-serif
$font-family-monospace: 'Roboto mono', 'Courier', Arial, Helvetica, sans-serif