// color palette
$white: #fff
$dark: #0B0A08

$lemon: #FFF791
$offwhite: #ECEBE9
$green: #D6F487
$light-blue: #CDE4EE
$purple: #BA85ED
$lilac: #D2D7FC
$indigo: #4E5EE3
$dark: #0B0A08
$red: #FF9175
$yellow: #FFF791

$maincolor-lighter: lighten($lilac, 20%)
$maincolor-light: $lilac
$maincolor-medium: darken($lilac, 10%)
$maincolor-dark: darken($lilac, 20%)

$font-family-sans-serif: 'Human sans', 'Open sans', 'Noto sans', Arial, Helvetica, sans-serif
$font-family-monospace: 'Roboto mono', 'Courier', Arial, Helvetica, sans-serif