@import 'bootstrap/scss/bootstrap-grid.scss'
@import '/src/styles/_variables.sass'

.dashboard
	h2, h3, h4
		text-align: center
	h2
		font-size: 1rem
		font-weight: 400
	h3
		font-size: 2rem
		@include media-breakpoint-up(md)
			font-size: 2.4rem
	&_addContent
		display: flex
		justify-content: center
		align-items: center
	&_mediaForm
		position: fixed
		z-index: 99999
		top: 0
		padding-top: 200px
		width: 100%
		height: 100%
		background-color: transparentize($indigo, .8)
		&_bgr
			background-color: #A9AEDD
			margin: 30px auto
			padding: 30px 40px
			max-width: 450px
			border: 1px solid $dark
			text-align: center
		&_inputs
			.editButtons
				cursor: pointer
				display: flex
				justify-content: center
				align-items: center
				&_button
					border-radius: 50%
					height: 50px
					width: 50px
					padding: 0
					border: 1px solid $dark
					svg path
						fill: $dark
					background-color: $green
					&:hover,
					&:focus,
					&:active
						background-color: darken($green, 10%)
				&_input
					&:is(textarea)
						height: 250px
					margin-bottom: 18px
					width: 350px
					background-color: $white
					border: 1px solid $dark
					padding: 20px 30px
					color: $indigo
					&::placeholder
						color: lighten($dark, 60%)
						font-style: italic
				&_photoContainer
					display: flex
					flex-direction: column
					align-items: center
					justify-content: center
				&_webcamBtn
					display: flex
					align-items: center