@import 'bootstrap/scss/bootstrap-grid.scss'
@import '/src/styles/_variables.sass'

.dashboard
	h2, h3, h4
		text-align: center
	h2
		font-size: 1rem
		font-weight: 400
	h3
		font-size: 1.6rem
	&_addContent
		display: flex
		justify-content: center
		align-items: center