@import 'bootstrap/scss/bootstrap-grid.scss'
@import '/src/styles/_variables.sass'

.landingPage
	border-bottom: 1px solid transparent

	a
		position: relative
		z-index: 999999

	&_cta
		text-align: center
		display: block
		margin: 50px auto 100px
		z-index: 9999
	
	&_slideshow
		position: relative
		margin-top: 20px
		margin-bottom: 100px
		overflow-x: visible !important
		width: 100vw
		white-space: nowrap

	&_slideshow_item_front
		// object-fit: scale-down
		width: 130vw
		z-index: -2
		// left: -130
		margin-top: 30px
		@include media-breakpoint-up(sm)
			margin-top: 50px
			margin-bottom: -116px
		@include media-breakpoint-up(md)
			margin-top: 0
			margin-bottom: -116px

		// zooming in on mobile
		transform: rotate(-4deg) scale(2)
		@include media-breakpoint-up(sm)
			transform: rotate(-4deg) scale(1.4)
		@include media-breakpoint-up(md)
			transform: rotate(-4deg) scale(1)
	
	&_slideshow_item_back
		// object-fit: scale-down
		width: 130vw
		margin-top: 10px
		z-index: 99 !important

		// zooming in on mobile
		transform: scale(2)
		@include media-breakpoint-up(sm)
			transform: scale(1.4)
		@include media-breakpoint-up(md)
			transform: scale(1)
		

.marquee
	pointer-events: none
	// position: absolute

	&1
		@extend .marquee
		top: -30px
		transform: rotate(-2deg) !important

	&2
		@extend .marquee
		bottom: 30px
		transform: rotate(1deg) !important
