@import '/src/styles/_variables.sass'

.board
    width: 100vw
    display: flex
    flex-direction: row
    overflow-x: scroll
    overflow-y: hidden
    margin-bottom: 20px
    padding: 30px 0
    &_item
        position: relative
        margin: 0 20px
        height: 100%
        display: flex
        flex-direction: column
        justify-content: space-between
        &:hover,
        &:focus,
        &:active
            .editButtons
                &_container
                    opacity: 1
                    transition: all .2s ease-in-out
        .editButtons
            &_container
                position: absolute
                z-index: 999
                top: 30px
                left: 10px
                opacity: 0
            &_button
                border-radius: 50%
                height: 50px
                width: 50px
                padding: 0
                background-color: darken($indigo, 40%)
                border: 0
                svg path
                    fill: $white
            &_input
                position: absolute
                bottom: 30px
                width: 60%
                background-color: $white
                color: $indigo
        &_body
            display: flex
            flex-direction: column
            align-items: center
            justify-content: center
            // border: 1px solid red
            flex: 1
            *
                max-height: 400px
        &_buttons
            // border: 1px solid yellow
        &_image
            width: 500px
            img
                width: 100%
                border-radius: 30px
                object-fit: cover
        &_note
            position: relative
            margin: 20px 40px
            width: 350px
            height: 350px
            display: block
            background-color: darken($indigo, 30%)
            z-index: 0
            & > div
                transform: rotateZ(357deg)
                width: 100%
                height: 100%
                background-color: $light-blue
                padding: 20px
                font-family: $font-family-monospace
                color: $dark
                display: flex
                align-items: center
                justify-content: center
                z-index: 1111
                position: absolute
        &_polaroid
            width: fit-content
            padding: 10px
            background-color: $white
            box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2)
            transform: rotate(3deg) scale(0.9, 0.9)
            transition: all 0.35s
            animation: rotate-in 0.5s ease-in-out
            width: 400px
            > img,
            > video
                max-width: 100%
                height: auto
                border: 0
                object-fit: cover
                border-radius: 0
                padding-bottom: 70px
            &:before
                content: ''
                position: absolute
                z-index: -1
                transition: all 0.35s
        &_video
            iframe
                border-radius: 30px
                box-shadow: 0 10px 20px transparentize($dark, 0.8)
                background-color: lighten($indigo, 10%)
                background-image: url(/src/assets/images/flower.svg)
                background-position: center center
                background-size: 60px 60px
                background-repeat: no-repeat
                outline: 2px solid white
                // outline: 10px dotted $green