@import '/src/styles/_variables.sass'

.navbar
	z-index: 888
	display: flex
	padding: 20px
	justify-content: space-between
	align-items: center
.centerLogo
	@extend .navbar
	justify-content: center

.navbarButtons
	display: flex
	position: absolute
	top: 20px
	right: 20px

.navbar_bottom
	z-index: 999999
	position: fixed
	bottom: 20px
	left: 20px
	right: 20px
	padding: 20px
	display: flex
	justify-content: space-between
	align-items: flex-end

.navbar_userProfile
	width: 60px
	height: 60px
	border: 1px solid $dark
	border-radius: 30px
