@import 'bootstrap/scss/bootstrap-grid.scss';
@import 'styles/_variables.sass';

:root {
	line-height: 1.5;
	font-weight: 400;
	font-family: 'Open sans', 'Noto sans', Arial, Helvetica, sans-serif;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	// re-mapping color variables
	--white: $white;
	--offwhite: $offwhite;
	--green: $green;
	--light-blue: $light-blue;
	--purple: $purple
	--indigo: $indigo;
	--dark: $dark;
}

#root {
	margin: 0;
	overflow-x: hidden
}

img {
	max-width: 100%;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

::-moz-selection {
	color: $white;
	background: $purple;
}

::-webkit-selection {
	color: $white;
	background: $purple;
}

::selection {
	color: $white;
	background: $purple;
}

.debug,
.debug * {
	outline: 1px solid red
}