@import 'bootstrap/scss/bootstrap-grid.scss'
@import '/src/styles/_variables.sass'

.mediaForm
	position: fixed
	z-index: 99999
	top: 0
	left: 0
	display: flex
	align-items: center
	justify-content: center
	width: 100%
	height: 100%
	background-color: transparentize($indigo, .8)
	&_bgr
		position: relative
		background-color: #A9AEDD
		margin: 30px auto
		padding: 60px 20px 30px
		@include media-breakpoint-up(md)
			padding: 60px 40px 30px
		max-width: 450px
		border: 1px solid $dark
		text-align: center
	&_input
		line-height: 1.4rem
		&:is(textarea)
			height: 350px
		max-width: 350px
		width: 100%
		background-color: $white
		border: 1px solid $dark
		padding: 20px 30px
		color: $indigo
		&::placeholder
			color: lighten($dark, 60%)
			font-style: italic